{% extends 'mailings/base.html' %}
{#{% load my_tags %}#}
{% block content %}
    {#    {% include 'catalog/includes/inc_product.html' %}#}
    {#    {% include 'catalog/includes/inc_catalog.html' %}#}
    <div class="container">
    <div class="row text-center" style="display: flex;flex-wrap: wrap;align-items: stretch;">
        <div class="col-12">
            <div class="card-group mb-6">
                <div class="card" style="display: flex; border-color:#7777ff;  flex-direction:column;
                        justify-content: space-between;   height: auto;">
                    <div class="card-body">
                        <h6 class="card-title">Количество рассылок: {{ all_mailings }}</h6>
                        <h6 class="card-title">------------------------------</h6>
                        <h6 class="card-title">Количество активных рассылок: {{ active_mailings }}</h6>
                        <h6 class="card-title">------------------------------</h6>
                        <h6 class="card-title">Количество уникальных клиентов: {{ unique_clients_list }}</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
