{% extends 'mailings/base.html' %}
{% block content %}
{#    {% include 'mailings/includes/inc_mailings.html' %}#}
    <div class="container">
        <div class="row text-center" style="display: flex;flex-wrap: wrap;align-items: stretch;">
            <div class="col-12">
                <div class="card-group mb-4">
                    <div class="card" style="display: flex; border-color:#7777ff;  flex-direction:column;
                        justify-content: space-between;   height: auto;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Дата отправки</th>
                                <th>Статус</th>
                                <th>Рассылка</th>
                                <th>Ошибка</th>
                                <th>Хозяин</th>
                                <th>Почта</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in object_list %}
                                <tr>
                                    <td>{{ object.last_attempt_time }}</td>
                                    <td>{{ object.status }}</td>
                                    <td>{{ object.mailing }}</td>
                                    <td>{{ object.error_message }}</td>
                                    <td>{{ object.client }}</td>
                                    <td>{{ object.send_email }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
