{% extends 'mailings/base.html' %}
{% block content %}
{#    {% include 'mailings/includes/inc_mailings.html' %}#}
    <div class="container">
        <div class="row text-center" style="display: flex;flex-wrap: wrap;align-items: stretch;">
            {% for object in object_list %}
                <div class="col-4">
                    <div class="card-group mb-4">
                        <div class="card" style="display: flex; border-color:#7777ff;  flex-direction:column;
                        justify-content: space-between;   height: auto;">
                            <div class="card-body">
                                <h5 class="card-title">Тема:{{ object.title }}</h5>
                                <h6 class="card-title pricing-card-title">{{ object.content|truncatechars:50}}</h6>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-link"
                                   href="{% url 'mailings:message_update' object.pk %}">Редактировать</a>
                                <a class="btn btn-link" href="{% url 'mailings:message_delete' object.pk %}">Удалить</a>
                                <a class="btn btn-link" href="{% url 'mailings:options_create' %}">Отправить</a>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
